/target
/bin
/.classpath
/.project
/.settings

# Intellij Idea
.idea
*.iml
*.class

/example/src/main/resources/*
!/example/src/main/resources/conf.properties.example

/src/test/resources/*
!/src/test/resources/conf.properties.example
